# Conditional statements, cycles, functions

Logical statements in Python:

- Equals: `a == b`
- Not Equals: `a != b`
- Less than: `a < b`
- Greater than or equal to: `a >= b`

## If... else

In [2]:
a = 33
b = 200

if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is greater than a

In [3]:
a = 33
b = 33

if b > a:
    print("b is greater than a")
elif b == a:
    print("b is equal to a")
else:
    print("b is smaller than a")

b is equal to a

In [7]:
a = 3
b = 4

if (a*b) == 12 and (a+b) < 8:
    print("Both conditions are True")

Both conditions are True

In [9]:
a = 6
b = 2

if (a*b) == 12 or (a+b) < 8:
    print("At least one of them is True")

At least one of them is True

## For and while

In [12]:
i = 1
while i < 11:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [15]:
i = 13
while i < 101:
    print(i)
    
    if (i % 12) == 0:
        break
    
    i += 1

13
14
15
16
17
18
19
20
21
22
23
24

In [22]:
i = 1
while i < 101:
    i += 1
    
    if (i % 24) == 0:
        continue
    
    if (i % 12) == 0:
        print(i)
else:
    print("Maximum has been reached")

12
36
60
84
Maximum has been reached

In [24]:
import numpy as np

In [26]:
for x in np.arange(1, 11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [29]:
for x in np.arange(1, 101):
    print(x)

    if x == 12:
        break

1
2
3
4
5
6
7
8
9
10
11
12

In [32]:
for x in np.arange(1, 11):
    if x == 2:
        continue
    
    print(x)

1
3
4
5
6
7
8
9
10

## Functions

In [35]:
def print_one():
    print("one")

In [38]:
print_one()

one

In [36]:
def add_one(x):
    return x + 1

In [37]:
add_one(50.6)

51.6

In [39]:
def generate_random_cond(labels, n_rep):
    x = np.repeat(labels, n_rep)
    np.random.shuffle(x)
    return x

In [40]:
generate_random_cond(["easy", "difficult"], 5)

array(['difficult', 'easy', 'difficult', 'easy', 'easy', 'easy',
       'difficult', 'easy', 'difficult', 'difficult'], dtype='<U9')

You can have default arguments, that take a default value but can also still be changed:

In [41]:
def generate_random_cond(labels, n_rep=3):
    x = np.repeat(labels, n_rep)
    np.random.shuffle(x)
    return x

In [42]:
generate_random_cond(["easy", "difficult"])

array(['difficult', 'difficult', 'difficult', 'easy', 'easy', 'easy'],
      dtype='<U9')

In [43]:
generate_random_cond(["easy", "difficult"], 10)

array(['difficult', 'difficult', 'easy', 'difficult', 'easy', 'difficult',
       'difficult', 'easy', 'easy', 'difficult', 'difficult', 'easy',
       'easy', 'difficult', 'difficult', 'easy', 'easy', 'difficult',
       'easy', 'easy'], dtype='<U9')

In [44]:
cond = generate_random_cond(["easy", "med", "diff"], 5)

In [45]:
cond

array(['easy', 'diff', 'med', 'easy', 'med', 'easy', 'diff', 'easy',
       'diff', 'med', 'med', 'med', 'diff', 'easy', 'diff'], dtype='<U4')

## lambda

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [46]:
x = lambda a : a*2

In [47]:
x(4)

8

In [48]:
import pandas as pd

In [49]:
data = pd.DataFrame({'cond': generate_random_cond(["easy", "med", "diff"], 5)})

In [50]:
data.head()

   cond
0  diff
1  easy
2   med
3  diff
4  diff

In [52]:
data.apply(lambda x: x + "_low-p")

          cond
0   diff_low-p
1   easy_low-p
2    med_low-p
3   diff_low-p
4   diff_low-p
5   easy_low-p
6    med_low-p
7   easy_low-p
8    med_low-p
9    med_low-p
10  diff_low-p
11  easy_low-p
12  diff_low-p
13   med_low-p
14  easy_low-p

## Exercises

1. Create a function called `percentage` that takes 2 arguments, `x` and `total`, and returns the percentage of `x` respect to `total` as an integer number. Try it out with a few values.
2. Create a function called `print_percentage` that takes 2 arguments, `x` and `total`, and returns the percentage of `x` respect to `total` as a string, such as "30%" if the calculated percentage was 30, with no decimals. Try it out with a few values.
3. Create a function called `print_percentage_dec` that takes 3 arguments, `x`, `total` and `n_decimals`, and returns the percentage of `x` respect to `total` as a string, such as "30.02%" if the calculated percentage was 30.02, and the decimals were 2. You can use the function np.round to round numbers. Try it out with a few values.
4. Now add on to the function in point 3: add a conditional statement that checks whether `x` is higher or equal to 0 and smaller or equal to `total`. In case it is not, the function should not return a value but simply print "Invalid x value: x should be positive and smaller than its total.". Try it our with valid and invalid values.
5. Add on to the last function you built in 4. Now `x` can also be a list or array. The function should loop through the values in x and print the percentages (or the invalid value message) iteratively. 

**Send me your solutions** before the end of this Friday (at laura.fontanesi@unibas.ch).

**NOTE**: Do not send me a notebook but export it to a Python script first: `File> Export notebook asâ€¦ > Export as executable script`